@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-R.eot");
}

@font-face {
    font-family: ubuntuit;
    src: url("../fonts/Ubuntu-RI.eot");
}

@font-face {
    font-family: ubuntubd;
    src: url("../fonts/Ubuntu-B.eot");
}
